/**
 * @file
 * Stylesheet for the Collect main UI.
 */

/**
 * Container diff table.
 */
td.diff-context {
  white-space: pre-wrap;
  background-color: #fafafa;
  width: 50%;
}
td.diff-deletedline {
  background-color: #FFE4E1;
}
td.diff-addedline {
  background-color: #DFD;
}
span.diffchange {
  font-weight: bold;
}

/**
 * Container Search API result teaser.
 */
.collect-teaser label {
  display: inline;
}
