{#
/**
 * @file
 * Default theme implementation to present all collect container data.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'.
 * - Field variables: For each field instance attached to the container a
 *   corresponding variable is defined; e.g., container.field_example has a
 *   variable 'field_example' defined. When needing to access a field's raw
 *   values, developers/themers are strongly encouraged to use these
 *   variables. Otherwise they will have to explicitly specify the desired
 *   field language, e.g. container.field_example.en, thus overriding any
 *   language negotiation rule that was previously applied.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_collect_container()
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
